diagrama.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">


    <xsd:complexType name="CinturonNegroSegundoDan">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
            <xsd:sequence>
                <xsd:element name="Tecnica_Base" type="xsd:string"/>
                <xsd:element name="Tecnica_Directa" type="xsd:string"/>
                <xsd:element name="Tecnica_IndirectaCicular" type="xsd:string"/>
                <xsd:element name="Tecnica_Pierna" type="xsd:string"/>
                <xsd:element name="Tecnica_Combinada" type="xsd:string"/>
                <xsd:element name="Teoria" type="xsd:string"/>
                <xsd:element name="Kata" type="xsd:string"/>
                <xsd:element name="Kumite" type="xsd:string"/>
                <xsd:element name="Campeonatos" type="xsd:string"/>
                <xsd:element name="Tecnicas" type="xsd:string"/>
                <xsd:element name="Aplicaciones"/>
                <xsd:element name="Aplicaciones_Tecnica"/>
                <xsd:element name="Demo_Libre"/>
            </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="CinturonNegroPrimerDan">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
            <xsd:sequence>
                <xsd:element name="Tecnica_Defensa" type="xsd:string"/>
                <xsd:element name="Tecnica_Pierna" type="xsd:string"/>
                <xsd:element name="Tecnica_DirectaIndirecta" type="xsd:string"/>
                <xsd:element name="Tecnica_Combinada" type="xsd:string"/>
                <xsd:element name="Teoria" type="xsd:string"/>
                <xsd:element name="Kata" type="xsd:string"/>
                <xsd:element name="Kumite" type="xsd:string"/>
                <xsd:element name="Tecnicas" type="xsd:string"/>
                <xsd:element name="Aplicaciones_Tecnica" type="xsd:string"/>
            </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

     <xsd:complexType name="CinturonNegro">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
            <xsd:sequence>
                <xsd:element name="Tecnica_Directa" type="xsd:string"/>
                <xsd:element name="Tecnica_Ciculares" type="xsd:string"/>
                <xsd:element name="Tecnica_Pierna" type="xsd:string"/>
                <xsd:element name="Teoria" type="xsd:string"/>
                <xsd:element name="Kata" type="xsd:string"/>
                <xsd:element name="Kumite" type="xsd:string"/>
            </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Hasta3erDan">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
            <xsd:sequence>
                <xsd:element name="Tecnicas" type="xsd:string"/>
                <xsd:element name="Kata" type="xsd:string"/>
                <xsd:element name="Kumite" type="xsd:string"/>
                <xsd:element name="Campeonatos" type="xsd:string"/>
            </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="QuintoDanySuperior">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
            <xsd:sequence>
                <xsd:element name="Kata" type="xsd:string"/>
                <xsd:element name="Coloquio" type="xsd:string"/>
            </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="CinturonNegroTercerDan">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
            <xsd:sequence>
                <xsd:element name="Variaciones" type="xsd:string"/>
                <xsd:element name="Kumite" type="xsd:string"/>
                <xsd:element name="Kata" type="xsd:string"/>
                <xsd:element name="Aplicacion_Tecnica" type="xsd:string"/>
                <xsd:element name="Teoria" type="xsd:string"/>
                <xsd:element name="Kumite" type="xsd:string"/>
                <xsd:element name="Campeonatos" type="xsd:string"/>
                <xsd:element name="Tecnica" type="xsd:string"/>
                <xsd:element name="Aplicaciones" type="xsd:string"/>
                <xsd:element name="Aplicaciones_Tecnica" type="xsd:string"/>
                <xsd:element name="Demo_Libre" type="xsd:string"/>
                <xsd:element name="Atribute5"/>
            </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="CinturonNegroCuartoDan">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
            <xsd:sequence>
                <xsd:element name="Kumite" type="xsd:string"/>
                <xsd:element name="Kata" type="xsd:string"/>
                <xsd:element name="Coloquio" type="xsd:string"/>
                <xsd:element name="Aplicaciones_Tecnica" type="xsd:string"/>
                <xsd:element name="Demo_Libre" type="xsd:string"/>
            </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Meritos">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
            <xsd:sequence>
                <xsd:element name="id_aspirante" type="codigo"/>
                <xsd:element name="Edad_aspirante" type="xsd:integer"/>
                <xsd:element name="LicenciaActualizada" type="xsd:boolean"/>
                <xsd:element name="TrabajoEscrito" type="xsd:boolean"/>
            </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

      <xsd:complexType name="Aspirantes">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
            <xsd:sequence>
                <xsd:element name="id_aspirante" type="codigo"/>
                <xsd:element name="Nombres" type="xsd:string"/>
                <xsd:element name="Apellidos" type="xsd:string"/>
                <xsd:element name="DNI" type="codDNI"/>
                <xsd:element name="Telefono" type="numTel"/>
                <xsd:element name="Direccion" type="xsd:string"/>
                <xsd:element name="Fecha_nacimiento" type="xsd:date"/>
                <xsd:element name="Dan" type="xsd:string"/>
                <xsd:element name="Cinturon" type="xsd:string"/>
                <xsd:element name="Fecha_ingreso" type="xsd:string"/>
                <xsd:element name="FotoAspirante" type="xsd:string"/>
                <xsd:element name="Tiempo_Dan_Anterior" type="xsd:integer"/>
                <xsd:element name="FotoDNI" type="xsd:string"/>
                <xsd:element name="FotoCarneGrados" type="xsd:string"/>
            </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Resultados">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
            <xsd:sequence>
                <xsd:element name="id_aspirante" type="xsd:integer"/>
            </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ConvalidacionGrados">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
            <xsd:sequence>
                <xsd:element name="id_aspirante"/>
            </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="RequisitosAspirante">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
            <xsd:sequence>
                <xsd:element name="SolicitudHasta3Dan" type="xsd:boolean"/>
                <xsd:element name="DanySuperiorCurriculum" type="xsd:boolean"/>
            </xsd:sequence>
            </xsd:restriction>
        
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="DispensaMedica">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
            <xsd:sequence>
                <xsd:element name="id_aspirante" type="xsd:integer"/>
            </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="CriterioValoracion">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
            <xsd:sequence>
                <xsd:element name="Indumentaria" type="xsd:integer"/>
                <xsd:element name="AseoPersonal" type="xsd:integer"/>
                <xsd:element name="EjecucionTecnica" type="xsd:integer"/>
                <xsd:element name="Valores" type="xsd:integer"/>
                <xsd:element name="Respuestas" type="xsd:integer"/>
            </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Jueces">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
            <xsd:sequence>
                <xsd:element name="id_jueces" type="codigo"/>
                <xsd:element name="Nombres" type="xsd:string"/>
                <xsd:element name="Apellidos" type="xsd:string"/>
                <xsd:element name="DiplomaJuez" type="xsd:boolean"/>
            </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Tribunal">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
            <xsd:sequence>
                <xsd:element name="Numero_jueces" type="xsd:string"/>
                <xsd:element name="Calificacion_final" type="xsd:string"/>
            </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="AbonarCuota">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
            <xsd:sequence>
                <xsd:element name="id_aspirante" type="xsd:integer"/>
            </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SuspendeExamen">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
            <xsd:sequence>
                <xsd:element name="id_aspirante" type="codigo"/>
                <xsd:element name="SuspendeParcial" type="xsd:boolean"/>
                <xsd:element name="SuspendeTotal" type="xsd:boolean"/>
                <xsd:element name="SuspendeSegundaFase" type="xsd:boolean"/>
            </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:simpleType name="codigo">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{3}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="codDNI">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{8}[A-Z]"/>
    </xsd:restriction>
  </xsd:simpleType>

    <xsd:simpleType name="numTel">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{9}"/>
    </xsd:restriction>
  </xsd:simpleType>
        

   <!--<xsd:simleType name="Num_jueces">
        <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-3]{3}"/>
    </xsd:restriction>
    </xsd:simleType>

    <xsd:simleType name="Cali_final">
        <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-10]{1}"/>
    </xsd:restriction>
    </xsd:simleType>

      <xsd:simleType name="nom">
        <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z]"/>
    </xsd:restriction>
    </xsd:simleType>

     <xsd:simleType name="apll">
        <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z]{6}"/>
    </xsd:restriction>
    </xsd:simleType>

     <xsd:simleType name="diploma">
        <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z]"/>
    </xsd:restriction>
    </xsd:simleType>


    <xsd:simleType name="edad">
        <xsd:restriction base="xsd:int">
      <xsd:pattern value="[0-9]{2}"/>
    </xsd:restriction>
    </xsd:simleType>
 -->


   

</xsd:schema>